
.comment-message {
    opacity: .75;
    line-height: 1.7;
    font-size: 1rem;
    margin-bottom: 0;
}
.Stars {
    float: right;
}
.RatingStatistics {
    float: left;
}
.fa-star
{
    color:gold;
}
.comment-list {
    list-style-type: none;
    margin-top: 20px;

}
.form-group textarea {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.comment-replies {
    display: none;
}

.comment-date {
    color: #ccc !important;
    font-size: 13px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.comment-body {
    line-height: 1.7;
    font-weight: 400;
}

    .comment-body p {
        margin-top: 0;
        width: 90%;
        overflow-wrap: break-word;
    }

.commenter-name {
    font-size: 20px;
}

.reply-btn {
    padding: 0px 10px 5px 0px !important;
    text-decoration: none;
    color: dodgerblue;
    border: none;
}

    .reply-btn:focus {
        outline: none;
        box-shadow: none;
    }

#CommentSong textarea {
    margin-left:auto;
    margin-right:auto;
    width:90%;


}

.change {
    color: red;
}
