#CommentsHeader[b-zh4oita9q7]{
    visibility:hidden;
}
#CommentList[b-zh4oita9q7] {
    visibility: hidden;
}
#CommentSong[b-zh4oita9q7] {
    visibility: hidden;
}

.comment-message[b-zh4oita9q7]{
    opacity:.75;
    line-height:1.7;
    font-size:1rem;
    margin-bottom:0;

}
.comment-list[b-zh4oita9q7]{

    list-style-type: none;
    margin-top: 20px;
}
.comment-date[b-zh4oita9q7]{
    color:#ccc !important;
    font-size:13px;
    letter-spacing:.1em;
    text-transform:uppercase;
}
.comment-body[b-zh4oita9q7]{
    line-height:1.7;
    font-weight:400;
}
.comment-body p[b-zh4oita9q7]{
    margin-top:0;
}
.commenter-name[b-zh4oita9q7]{
    font-size:20px;
}
.reply-btn[b-zh4oita9q7]{
    padding:0px 10px 5px 0px !important;
    text-decoration:none;
    color:dodgerblue;
    border:none;
   
}
.reply-btn:focus[b-zh4oita9q7]{
    outline:none;
    box-shadow:none;

}

