/* _content/SpotifySocialMedia/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-d4gy7jjwg1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-d4gy7jjwg1] {
  color: #0077cc;
}

.btn-primary[b-d4gy7jjwg1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-d4gy7jjwg1], .nav-pills .show > .nav-link[b-d4gy7jjwg1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-d4gy7jjwg1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-d4gy7jjwg1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-d4gy7jjwg1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-d4gy7jjwg1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-d4gy7jjwg1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/SpotifySocialMedia/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-70kni0szu1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-70kni0szu1] {
  color: #0077cc;
}

.btn-primary[b-70kni0szu1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-70kni0szu1], .nav-pills .show > .nav-link[b-70kni0szu1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-70kni0szu1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-70kni0szu1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-70kni0szu1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-70kni0szu1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-70kni0szu1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/SpotifySocialMedia/Views/Song/Details.cshtml.rz.scp.css */
#CommentsHeader[b-zh4oita9q7]{
    visibility:hidden;
}
#CommentList[b-zh4oita9q7] {
    visibility: hidden;
}
#CommentSong[b-zh4oita9q7] {
    visibility: hidden;
}

.comment-message[b-zh4oita9q7]{
    opacity:.75;
    line-height:1.7;
    font-size:1rem;
    margin-bottom:0;

}
.comment-list[b-zh4oita9q7]{

    list-style-type: none;
    margin-top: 20px;
}
.comment-date[b-zh4oita9q7]{
    color:#ccc !important;
    font-size:13px;
    letter-spacing:.1em;
    text-transform:uppercase;
}
.comment-body[b-zh4oita9q7]{
    line-height:1.7;
    font-weight:400;
}
.comment-body p[b-zh4oita9q7]{
    margin-top:0;
}
.commenter-name[b-zh4oita9q7]{
    font-size:20px;
}
.reply-btn[b-zh4oita9q7]{
    padding:0px 10px 5px 0px !important;
    text-decoration:none;
    color:dodgerblue;
    border:none;
   
}
.reply-btn:focus[b-zh4oita9q7]{
    outline:none;
    box-shadow:none;

}

