@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Join to our community and exchange opinion about your favourite music</h1>
    <div >
         <a  class="btn-primary btn" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
</div>
